.App {
  display: flex;
}
.photo {
  width: 50em;
  margin-top: -1rem;
  margin-left: -2rem;
}
img {
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70em;
  font-family: 'Aboreto', cursive;
}
.title {
  font-size: 5em;
  height: min-content;
  margin: 0.8em;
}
.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50em;
  height: 40em;
  overflow: scroll;
}
p {
  text-align: center;
}